/* Text color $red from 10-colors.scss to .red,
Text color $green from 10-colors.scss to .green, Text color $blue from 10-colors.scss to .blue */

@import '10-colors';

.red {
  color: #FF0000;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}
